<style>

/*** Base Styling ***/
* {
	box-sizing: border-box;
}

div {
	width: 80%;
	background-color: #DBDAD6; /* light grey */
}

table {
	background-color: #7FDF24; /* light green */
	

}

#rtablecorners {
  	border-radius: 15px 50px 30px;
  	background: #73AD21;
  	padding: 20px;
  	width: 100%;
  	height: 150px;
}

</style>
