@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*** Base Styling ***/
* {
	box-sizing: border-box;
}


body {
	background-color: #3BB981;
}

.logo {
	width: 125px;
	float: left;
	border: 50%;
	position: relative;
	left: 35px;
}

.opensans {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	text-align: center;
	font-size: 60px;
	color: white;
	padding-top: 100px;
}